.content-canvas {
    box-shadow: 2px 1px 1px 1px #bb9797;
}

.block-color {
    height: 20px;
    width: 20px;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}